*{
    margin: 0;
    padding: 0;
}
body{
    /* background-color: black; */
}
.container{
    position: absolute;
    top: 20%;
    left:38%;
    /* border: 7px solid white; */
}
.container h1{
    /* color: white; */
    font-size: 60px;
    margin-bottom: 45px;
}
.box{
    
    /* margin-left: 30px; */
    margin-top: 17px;
    width: 100%;
    /* font-size: 25px; */
}
.box input{
    background: none;
    font-size: 20px;
    width: 100%;
    /* color: white; */
}
.btn{
    font-size: 20px;
    margin-top: 25px;
    margin-left: 110px;
    cursor: pointer;
    /* border-radius: 10px; */
}